.all-datepicker-card {
  color: white;
  margin: 0 10px 10px 10px;
}

.all-datepicker-card {
  width: 40% !important;
}

.all-datepicker-card-dropdown {
  float: right;
}

@media only screen and (max-width: 1200px) {
  .all-datepicker-card {
    flex-flow: row;
    width: 100% !important;
    margin: 0 0 10px 0;
  }
}
