#file-dropper {
  width: 95%;
  margin: auto;
}

#selected-files {
  display: flex;
  flex-wrap: wrap;
}

.selected-file {
  display: flex;
  height: auto;
  width: 100%;
  min-width: 40vh;
  margin: 2px;
}

.selected-file button {
  height: 35px;
  margin-left: auto;
}

.fd-option-wrapper {
  display: inline-block;
  margin-left: 5px;
}

.selected-file img {
  height: inherit;
  width: 12%;
  max-width: 150px;
}

.selected-file video {
  height: inherit;
  width: 12%;
  image-rendering: pixelated;
}

.fd-remove {
  float: right;
}

#fd-upload-section {
  height: 100%;
  width: 100%;
  position: sticky;
  bottom: 0;
}
