#gallery {
  width: 80%;
  margin: auto;
}

#gallery-options {
  margin: 5px;
}

#gallery-options input {
  margin-right: 10px;
  margin-left: 5px;
}

.gallery-item {
  font-size: 140%;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  place-items: center;
  width: 100%;
}

.gallery-item:hover {
  color: gray;
  transition: ease-in-out 0.3s;
}

.gallery-item-wrapper {
  display: flex;
  place-items: center;
  width: 100%;
  height: fit-content;
  padding: 10px;
  border: rgb(114, 107, 107) 1px solid;
  border-radius: 2px;
}

.gallery-item-wrapper input {
  padding: 10px;
}

#gallery-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}
