.linear-activity {
  overflow: hidden;
  height: 4px;
  width: 100%;
}

.indeterminate {
  position: relative;
  height: 100%;
}

.indeterminate:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: cornflowerblue;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: rgb(104, 69, 150);
}

@keyframes indeterminate_first {
  0% {
    left: -110%;
    width: 100%;
  }
  100% {
    left: 110%;
    width: 10%;
  }
}
